@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;600;700&family=Noto+Sans+SC:wght@400;700&family=Noto+Serif+SC:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-gray-900 font-sans antialiased;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
  }

  #root {
    min-height: 100svh;
  }
}

@layer utilities {
  .touch-none {
    touch-action: none;
  }
}
